/*  your css code here. If applicable */
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #222;
    }

    .board {
		margin-left:200px;
      display: grid;
      grid-template-columns: repeat(40, 20px); /* 40 columns × 20px = 800px wide */
      gap: 2px;
    }

    .square {
      width: 20px;
      height: 20px;
      background: rgb(29,29,29);
      transition: background 0.3s;
    }

  /* .square:hover {
      background: tomato; /* color changes on hover */
    /*}*/